
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4E4E4E;

    color: white;
    font-family: 'myriad-pro','Myriad Pro','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

::selection {
    background-color: #E3E3E3;
}

div {
    display: block;
}

.bg-transparent-grey {
    position:relative;
    z-index:100;
    /*display:block;*/
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:100%;
    border:15px solid transparent;
    background-color:rgba(0,0,0,0.4)

}

.bg-image {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50%;
}

.blur {
    -webkit-filter:blur(6px);
    -ms-filter:progid:dximagetransform.microsoft.blur(pixelradius=6px)
}

.content {
    width: 100%;
    height:;
    border: 15px solid transparent;
    /*padding: 15px;*/
    color: white;
    text-align: center;
}

.verticaly-centered-block {
    display: inline-block;
    vertical-align: middle;
}

.underlined {
    text-decoration: underline;
}

#title {
    margin: 15px;
    padding: 12px 0 0 5px;
}

#fb-button {
    text-align: center;
}

#header {
    position: relative;
    margin: 60px;
    display: block;
    vertical-align: middle;
    text-align: center;
}

.static-message {
    text-align: left;
    display: inline-block;
}

h1 {
    display: inline;
    color: white;
    font-family: 'myriad-pro','Myriad Pro','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 50px;
    letter-spacing: -0.02em;
}

h2 {
    display: block;
    margin: 5px;
    color: white;
    font-family: 'myriad-pro','Myriad Pro','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
    font-weight: 620;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.04em;

}

